<a href="https://colab.research.google.com/github/blazaropinto/portfolio_PDA_Data_Science/blob/development/Getting_data_from_sources.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting data from a range of sources

Examples of data being retrieved from different sources

## From a web page
---

The code below reads all the data tables from the Wikipedia page on Glasgow.  The 8th table on the page shows population data over a period of centuries.

The code reads the data from the page into a list of datatables.  The index [7] is used to access the 8th table in the list.  Change the index to see other data tables.  Use len(datatables) to find out how many tables are in the list.

In [1]:
import pandas as pd
datatables = pd.read_html('https://en.wikipedia.org/wiki/Glasgow#Climate')
df = datatables[7]  # Glasgow population data
df.columns = [df.iloc[1, col] for col in range(5)]
df.drop(df.index[[0,1]], inplace=True)
df.head()

  Year[78]  ...                                       Area changes
2     1300  ...                                            Initial
3     1600  ...                                            Unknown
4     1791  ...  Anderson to James Street/West Nile Street to C...
5     1831  ...                          Necropolis and Blythswood
6     1846  ...   Burghs of Anderston and Calton/Barony of Gorbals

[5 rows x 5 columns]

In [2]:
print('There are', len(datatables), 'tables in this web page')

There are 25 tables in this web page

## From a csv file hosted on Github.com
---

The code below reads the data table stored in a Comma Separated Values file (this is a text file containing rows of data with each column within the row separated from the next column by a comma).  

If you were using Jupyter Notebooks on your device, the url could be replaced with the path to the CSV file.

In [3]:
import pandas as pd
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/Paisley-Weather-Data.csv"
df = pd.read_csv(url)
df.head()

   yyyy  mm tmax (degC) tmin (degC) af (days) rain (mm) sun (hours) status
0  1959   1           4          -2        25      40.9        54.1    NaN
1  1959   2         6.6         2.1        10      41.8        17.8    NaN
2  1959   3        10.6         4.2         0      50.9        85.7    NaN
3  1959   4          13         5.2         0      76.3       125.1    NaN
4  1959   5        18.1         7.9         0        24         222    NaN

## From an Excel file hosted on Github.com
---

The code below reads the data table from a sheet in an Excel file.  If you don't specify a sheet then it will assume that you want to read the data from the first sheet in the Excel workbook (sheet_name = 0).  If you don't know the sheet name but know it is the second sheet, you can use sheet_name = 1, or 2 for the third sheet, etc.

If you were using Jupyter Notebooks on your device, the url could be replace with the path to the Excel file.

In [4]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
df = pd.read_excel(url,sheet_name="Industry Migration")
df.head()

  country_code          country_name  ... net_per_10K_2018 net_per_10K_2019
0           ae  United Arab Emirates  ...            68.51            49.55
1           ae  United Arab Emirates  ...           149.57           182.22
2           ae  United Arab Emirates  ...           409.18           407.41
3           ae  United Arab Emirates  ...           236.69           188.07
4           ae  United Arab Emirates  ...           852.39           519.40

[5 rows x 13 columns]

## From an API which delivers the data in JSON format
---

The code below requests the data from the url.  This is a bit more tricky than the other ways to get the data as how you access the data will depend on how it is organised.

In this example, the data is returned as a dictionary, which will have the key 'data' against which the actual data is stored.  In the example, the data has been taken from the 'data' key/value pair and is stored in json_data. 

Again, in this example, the json_data is a list of json_objects but it only has one object in the list.  Try adding the line `print(json_data)` to see this.  

data_table is the first object in the json_data list.  Try adding the line `print(data_table)` to see this.

In this example, the data table object has three keys, 'to', 'from' and 'regions'.  The 'regions' value is the data we want to use in our dataframe, so we normalize this json data into a pandas dataframe (df), which you can see as the output.  

Each API is likely to deliver its data in a different format and so you will need to be happy to read the documentation and to inspect the data to see what keys and indexes you need to access.

For information on the format of the data, see https://carbon-intensity.github.io/api-definitions/#regional

In [5]:
import requests

url = "https://api.carbonintensity.org.uk/regional"
json_data = requests.get(url).json()['data']
print(json_data)

[{'from': '2021-06-10T09:00Z', 'to': '2021-06-10T09:30Z', 'regions': [{'regionid': 1, 'dnoregion': 'Scottish Hydro Electric Power Distribution', 'shortname': 'North Scotland', 'intensity': {'forecast': 0, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 0}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 6.9}, {'fuel': 'solar', 'perc': 0}, {'fuel': 'wind', 'perc': 93.1}]}, {'regionid': 2, 'dnoregion': 'SP Distribution', 'shortname': 'South Scotland', 'intensity': {'forecast': 26, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1.2}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 5.1}, {'fuel': 'gas', 'perc': 1.7}, {'fuel': 'nuclear', 'perc': 27.2}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1.9}, {'fuel': 'solar', 'perc': 1.4}, {'fuel': 'wind', 'perc': 61.6}]}, {'regionid': 3, 'dnoregion': 'Electricity North West', 'shortname': 'North West England', 'intensity': {'forecast': 47, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1.7}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 1.8}, {'fuel': 'gas', 'perc': 9.9}, {'fuel': 'nuclear', 'perc': 45.7}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.7}, {'fuel': 'solar', 'perc': 1.8}, {'fuel': 'wind', 'perc': 38.5}]}, {'regionid': 4, 'dnoregion': 'NPG North East', 'shortname': 'North East England', 'intensity': {'forecast': 21, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 9.1}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 2.2}, {'fuel': 'gas', 'perc': 0.8}, {'fuel': 'nuclear', 'perc': 52.5}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.8}, {'fuel': 'solar', 'perc': 3.7}, {'fuel': 'wind', 'perc': 30.9}]}, {'regionid': 5, 'dnoregion': 'NPG Yorkshire', 'shortname': 'Yorkshire', 'intensity': {'forecast': 222, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 41.5}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0.2}, {'fuel': 'gas', 'perc': 43.6}, {'fuel': 'nuclear', 'perc': 4}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.1}, {'fuel': 'solar', 'perc': 2.9}, {'fuel': 'wind', 'perc': 7.8}]}, {'regionid': 6, 'dnoregion': 'SP Manweb', 'shortname': 'North Wales & Merseyside', 'intensity': {'forecast': 48, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 2.4}, {'fuel': 'gas', 'perc': 9.7}, {'fuel': 'nuclear', 'perc': 24.9}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 8}, {'fuel': 'solar', 'perc': 8.9}, {'fuel': 'wind', 'perc': 45.1}]}, {'regionid': 7, 'dnoregion': 'WPD South Wales', 'shortname': 'South Wales', 'intensity': {'forecast': 345, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 87.6}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 4.3}, {'fuel': 'wind', 'perc': 8.1}]}, {'regionid': 8, 'dnoregion': 'WPD West Midlands', 'shortname': 'West Midlands', 'intensity': {'forecast': 131, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 4.6}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 1.8}, {'fuel': 'gas', 'perc': 30.6}, {'fuel': 'nuclear', 'perc': 24.1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 2.1}, {'fuel': 'solar', 'perc': 8.2}, {'fuel': 'wind', 'perc': 28.6}]}, {'regionid': 9, 'dnoregion': 'WPD East Midlands', 'shortname': 'East Midlands', 'intensity': {'forecast': 247, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 21.9}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0.1}, {'fuel': 'gas', 'perc': 56}, {'fuel': 'nuclear', 'perc': 2.1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 10.1}, {'fuel': 'wind', 'perc': 9.8}]}, {'regionid': 10, 'dnoregion': 'UKPN East', 'shortname': 'East England', 'intensity': {'forecast': 161, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 6.3}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 18.7}, {'fuel': 'gas', 'perc': 36.8}, {'fuel': 'nuclear', 'perc': 0.5}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.1}, {'fuel': 'solar', 'perc': 25.4}, {'fuel': 'wind', 'perc': 12.3}]}, {'regionid': 11, 'dnoregion': 'WPD South West', 'shortname': 'South West England', 'intensity': {'forecast': 137, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 34.8}, {'fuel': 'nuclear', 'perc': 47.3}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 15.9}, {'fuel': 'wind', 'perc': 2}]}, {'regionid': 12, 'dnoregion': 'SSE South', 'shortname': 'South England', 'intensity': {'forecast': 251, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1.9}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 13.9}, {'fuel': 'gas', 'perc': 61.6}, {'fuel': 'nuclear', 'perc': 6.7}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 14.4}, {'fuel': 'wind', 'perc': 1.5}]}, {'regionid': 13, 'dnoregion': 'UKPN London', 'shortname': 'London', 'intensity': {'forecast': 134, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.2}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 64.9}, {'fuel': 'gas', 'perc': 26.7}, {'fuel': 'nuclear', 'perc': 0.7}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.2}, {'fuel': 'solar', 'perc': 5.9}, {'fuel': 'wind', 'perc': 1.4}]}, {'regionid': 14, 'dnoregion': 'UKPN South East', 'shortname': 'South East England', 'intensity': {'forecast': 120, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 71.1}, {'fuel': 'gas', 'perc': 22.4}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.2}, {'fuel': 'solar', 'perc': 4.9}, {'fuel': 'wind', 'perc': 1.3}]}, {'regionid': 15, 'dnoregion': 'England', 'shortname': 'England', 'intensity': {'forecast': 155, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 9.3}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 12.4}, {'fuel': 'gas', 'perc': 34.6}, {'fuel': 'nuclear', 'perc': 17.1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.8}, {'fuel': 'solar', 'perc': 9.8}, {'fuel': 'wind', 'perc': 16.1}]}, {'regionid': 16, 'dnoregion': 'Scotland', 'shortname': 'Scotland', 'intensity': {'forecast': 23, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 4.4}, {'fuel': 'gas', 'perc': 1.8}, {'fuel': 'nuclear', 'perc': 23.5}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 2.9}, {'fuel': 'solar', 'perc': 1.2}, {'fuel': 'wind', 'perc': 65.2}]}, {'regionid': 17, 'dnoregion': 'Wales', 'shortname': 'Wales', 'intensity': {'forecast': 195, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.3}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 1.4}, {'fuel': 'gas', 'perc': 48.1}, {'fuel': 'nuclear', 'perc': 7.6}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 6.3}, {'fuel': 'solar', 'perc': 4.3}, {'fuel': 'wind', 'perc': 32}]}, {'regionid': 18, 'dnoregion': 'GB', 'shortname': 'GB', 'intensity': {'forecast': 142, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 7.8}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 10.8}, {'fuel': 'gas', 'perc': 31.8}, {'fuel': 'nuclear', 'perc': 17.2}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1.4}, {'fuel': 'solar', 'perc': 8.4}, {'fuel': 'wind', 'perc': 22.6}]}]}]

In [6]:
data_table = json_data[0]
df = pd.json_normalize(data_table['regions'])
df.head()

   regionid  ... intensity.index
0         1  ...        very low
1         2  ...        very low
2         3  ...        very low
3         4  ...        very low
4         5  ...        moderate

[5 rows x 6 columns]