<a href="https://colab.research.google.com/github/blazaropinto/PDA_Data_Analysis_Python/blob/main/Working_with_list_data_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Create a set of statistics from a list of sea levels 

---
Sea levels are rising.  The data in the tests at the bottom of this notebook contains a list of the difference between the sea level in any year since 1880 and the level it was in 1880.

### Data Source
Global Average Absolute Sea Level Change, 1880-2014 from the US Environmental Protection Agency using data from CSIRO, 2015; NOAA, 2015.
https://datahub.io/core/sea-level-rise

The data describes annual sea levels from 1880 to 2013 given in inches.  Measures are adjusted using two standards: Commonwealth Scientific and Industrial Research Organisation(CSIRO) and National Oceanic and Atmospheric Administration (NOAA).  The given list contains the measures adjusted by the CSIRO standard.

## To complete this challenge you will need to know:
*  Data types, variables and operators
*  Selection and loops
*  Functions
*  Data structures


Complete the functions below and test that they work by running the tests in the final cell

---
## Calculate the average annual sea level rise between the given indexes

In [1]:
def get_average(levels, start_index, end_index):
  #  add your code below here to calculate the average of the values between start_index and end_index, including both, then run to test it
  #  return -1 if the end_index is larger than the length of levels
  
  #print(start_index, end_index)
  if end_index > len(levels)-1:
    return -1
  
  temp = []
  for i in range(len(levels)):
    if i >= start_index and i <= end_index:
      #print(i, levels[i])
      temp.append(levels[i])

  #print(temp)
  average = (sum(temp)) / len(temp)

  return average



# Tests
sea_levels = [0.0, 0.22047244100000002, -0.440944881, -0.232283464, 0.590551181, 0.531496062, 0.43700787399999996, 0.216535433, 0.299212598, 0.362204724, 0.440944881, 0.374015748, 0.499999999, 0.6850393690000001, 0.303149606, 0.767716535, 0.46850393700000004, 0.6732283459999999, 1.043307086, 1.338582676, 1.125984251, 1.1102362190000001, 1.291338581, 1.6062992109999998, 1.2007874, 0.9842519679999999, 1.251968503, 1.196850392, 1.098425196, 1.27559055, 1.2716535420000001, 1.598425195, 1.476377951, 1.5472440930000002, 1.795275589, 2.10629921, 2.031496061, 1.854330707, 1.791338581, 1.854330707, 1.905511809, 1.988188974, 1.952755904, 1.999999998, 1.7125984230000002, 1.791338581, 2.0472440919999997, 2.003937006, 1.850393699, 1.905511809, 2.062992124, 2.0472440919999997, 2.271653541, 2.440944879, 2.228346454, 2.448818895, 2.295275588, 2.519685037, 2.6220472409999998, 2.826771651, 2.618110234, 3.098425194, 3.098425194, 3.098425194, 2.84645669, 2.95669291, 3.2519685010000003, 3.374015745, 3.562992122, 3.51181102, 3.598425193, 3.9724409410000003, 3.8700787360000004, 4.043307082, 3.929133854, 3.964566925, 3.763779524, 4.291338578, 4.346456688, 4.358267712, 4.503937003, 4.748031491, 4.543307082, 4.480314956, 4.1692913339999995, 4.6102362160000006, 4.397637791, 4.452755901000001, 4.484251963999999, 4.751968499, 4.67716535, 4.881889759, 5.240157475, 5.003937003, 5.472440939, 5.409448812999999, 5.370078735, 5.303149601, 5.555118105, 5.362204719, 5.5984251910000005, 6.0866141670000005, 5.858267711, 6.188976372000001, 6.153543301, 5.74803149, 5.771653537000001, 5.795275585, 5.980314955, 6.157480308999999, 6.2322834579999995, 6.334645663, 6.35826771, 6.291338576, 6.499999992999999, 6.618110229, 6.787401568, 7.066929127000001, 6.665354324, 7.011811016, 7.062992119, 7.287401567000001, 7.3818897560000005, 7.7598425120000005, 7.740157472000001, 7.74409448, 7.9173228270000005, 7.996062984, 8.350393692, 8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951]
# Test 1 - average of first 10 values
if get_average(sea_levels,0,9) == 0.19842519679999998:
  print("Test 1 passed")
else: 
  print("Test 1 failed")
# Test 2 - average of last 14 values
if get_average(sea_levels,len(sea_levels)-14,len(sea_levels)-1 ) == 8.14285713442857:
  print("Test 2 passed")
else: 
  print("Test 2 failed")
# Test 3 - returns -1 if end_index is larger than the length of levels
if get_average(sea_levels,0,len(sea_levels) + 10 ) == -1:
  print("Test 3 passed")
else: 
  print("Test 3 failed")
# Test 4 - average of whole list
if get_average(sea_levels,0,len(sea_levels) -1 ) == 3.6503408118805987:
  print("Test 4 passed")
else: 
  print("Test 4 failed")

Test 1 passed
Test 2 passed
Test 3 passed
Test 4 passed

---
## Calculate the largest change from one year to the next in the entire list
The change would be indicated by subtracting the preceding level from this level

In [2]:
def get_largest_change(levels):
  #  add your code below here to find the highest change from one year to the next, then run to test it

  largest_change = 0

  for i in range(1, len(levels)):
    change = levels[i] - levels[i-1]

    if change > largest_change:
      largest_change = change
      

  return largest_change


# Tests
sea_levels = [0.0, 0.22047244100000002, -0.440944881, -0.232283464, 0.590551181, 0.531496062, 0.43700787399999996, 0.216535433, 0.299212598, 0.362204724, 0.440944881, 0.374015748, 0.499999999, 0.6850393690000001, 0.303149606, 0.767716535, 0.46850393700000004, 0.6732283459999999, 1.043307086, 1.338582676, 1.125984251, 1.1102362190000001, 1.291338581, 1.6062992109999998, 1.2007874, 0.9842519679999999, 1.251968503, 1.196850392, 1.098425196, 1.27559055, 1.2716535420000001, 1.598425195, 1.476377951, 1.5472440930000002, 1.795275589, 2.10629921, 2.031496061, 1.854330707, 1.791338581, 1.854330707, 1.905511809, 1.988188974, 1.952755904, 1.999999998, 1.7125984230000002, 1.791338581, 2.0472440919999997, 2.003937006, 1.850393699, 1.905511809, 2.062992124, 2.0472440919999997, 2.271653541, 2.440944879, 2.228346454, 2.448818895, 2.295275588, 2.519685037, 2.6220472409999998, 2.826771651, 2.618110234, 3.098425194, 3.098425194, 3.098425194, 2.84645669, 2.95669291, 3.2519685010000003, 3.374015745, 3.562992122, 3.51181102, 3.598425193, 3.9724409410000003, 3.8700787360000004, 4.043307082, 3.929133854, 3.964566925, 3.763779524, 4.291338578, 4.346456688, 4.358267712, 4.503937003, 4.748031491, 4.543307082, 4.480314956, 4.1692913339999995, 4.6102362160000006, 4.397637791, 4.452755901000001, 4.484251963999999, 4.751968499, 4.67716535, 4.881889759, 5.240157475, 5.003937003, 5.472440939, 5.409448812999999, 5.370078735, 5.303149601, 5.555118105, 5.362204719, 5.5984251910000005, 6.0866141670000005, 5.858267711, 6.188976372000001, 6.153543301, 5.74803149, 5.771653537000001, 5.795275585, 5.980314955, 6.157480308999999, 6.2322834579999995, 6.334645663, 6.35826771, 6.291338576, 6.499999992999999, 6.618110229, 6.787401568, 7.066929127000001, 6.665354324, 7.011811016, 7.062992119, 7.287401567000001, 7.3818897560000005, 7.7598425120000005, 7.740157472000001, 7.74409448, 7.9173228270000005, 7.996062984, 8.350393692, 8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951]
# Test 1 - largest year on year change
if get_largest_change(sea_levels) == 0.822834645:
  print("Test 1 passed")
else:
  print("Test 1 failed")

Test 1 passed

---
## Calculate the smallest change from one year to the next in the entire list
The change would be indicated by subtracting the preceding level from this level

In [3]:
def get_smallest_change(levels):
  #  add your code below here to find the highest change from one year to the next, then run to test it
  
  smallest_change = 0

  for i in range(1, len(levels)):
    change = levels[i] - levels[i-1]

    if change < smallest_change:
      smallest_change = change
      

  return smallest_change

# Tests
sea_levels = [0.0, 0.22047244100000002, -0.440944881, -0.232283464, 0.590551181, 0.531496062, 0.43700787399999996, 0.216535433, 0.299212598, 0.362204724, 0.440944881, 0.374015748, 0.499999999, 0.6850393690000001, 0.303149606, 0.767716535, 0.46850393700000004, 0.6732283459999999, 1.043307086, 1.338582676, 1.125984251, 1.1102362190000001, 1.291338581, 1.6062992109999998, 1.2007874, 0.9842519679999999, 1.251968503, 1.196850392, 1.098425196, 1.27559055, 1.2716535420000001, 1.598425195, 1.476377951, 1.5472440930000002, 1.795275589, 2.10629921, 2.031496061, 1.854330707, 1.791338581, 1.854330707, 1.905511809, 1.988188974, 1.952755904, 1.999999998, 1.7125984230000002, 1.791338581, 2.0472440919999997, 2.003937006, 1.850393699, 1.905511809, 2.062992124, 2.0472440919999997, 2.271653541, 2.440944879, 2.228346454, 2.448818895, 2.295275588, 2.519685037, 2.6220472409999998, 2.826771651, 2.618110234, 3.098425194, 3.098425194, 3.098425194, 2.84645669, 2.95669291, 3.2519685010000003, 3.374015745, 3.562992122, 3.51181102, 3.598425193, 3.9724409410000003, 3.8700787360000004, 4.043307082, 3.929133854, 3.964566925, 3.763779524, 4.291338578, 4.346456688, 4.358267712, 4.503937003, 4.748031491, 4.543307082, 4.480314956, 4.1692913339999995, 4.6102362160000006, 4.397637791, 4.452755901000001, 4.484251963999999, 4.751968499, 4.67716535, 4.881889759, 5.240157475, 5.003937003, 5.472440939, 5.409448812999999, 5.370078735, 5.303149601, 5.555118105, 5.362204719, 5.5984251910000005, 6.0866141670000005, 5.858267711, 6.188976372000001, 6.153543301, 5.74803149, 5.771653537000001, 5.795275585, 5.980314955, 6.157480308999999, 6.2322834579999995, 6.334645663, 6.35826771, 6.291338576, 6.499999992999999, 6.618110229, 6.787401568, 7.066929127000001, 6.665354324, 7.011811016, 7.062992119, 7.287401567000001, 7.3818897560000005, 7.7598425120000005, 7.740157472000001, 7.74409448, 7.9173228270000005, 7.996062984, 8.350393692, 8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951]
# Test 1 - smallest year on year change
if get_smallest_change(sea_levels) == -0.661417322:
  print("Test 1 passed")
else:
  print("Test 1 failed")

Test 1 passed

---
### Calculate in how many years did the sea level fall rather than rise

In [4]:
def find_total_fall_years(levels):
  # add your code below here to find the number of years the sea level fell, then run to test it

  count=0

  for i in range(1, len(levels)):
    change = levels[i] - levels[i-1]
    if change < 0:
      count +=1
  return count


# Tests
sea_levels = [0.0, 0.22047244100000002, -0.440944881, -0.232283464, 0.590551181, 0.531496062, 0.43700787399999996, 0.216535433, 0.299212598, 0.362204724, 0.440944881, 0.374015748, 0.499999999, 0.6850393690000001, 0.303149606, 0.767716535, 0.46850393700000004, 0.6732283459999999, 1.043307086, 1.338582676, 1.125984251, 1.1102362190000001, 1.291338581, 1.6062992109999998, 1.2007874, 0.9842519679999999, 1.251968503, 1.196850392, 1.098425196, 1.27559055, 1.2716535420000001, 1.598425195, 1.476377951, 1.5472440930000002, 1.795275589, 2.10629921, 2.031496061, 1.854330707, 1.791338581, 1.854330707, 1.905511809, 1.988188974, 1.952755904, 1.999999998, 1.7125984230000002, 1.791338581, 2.0472440919999997, 2.003937006, 1.850393699, 1.905511809, 2.062992124, 2.0472440919999997, 2.271653541, 2.440944879, 2.228346454, 2.448818895, 2.295275588, 2.519685037, 2.6220472409999998, 2.826771651, 2.618110234, 3.098425194, 3.098425194, 3.098425194, 2.84645669, 2.95669291, 3.2519685010000003, 3.374015745, 3.562992122, 3.51181102, 3.598425193, 3.9724409410000003, 3.8700787360000004, 4.043307082, 3.929133854, 3.964566925, 3.763779524, 4.291338578, 4.346456688, 4.358267712, 4.503937003, 4.748031491, 4.543307082, 4.480314956, 4.1692913339999995, 4.6102362160000006, 4.397637791, 4.452755901000001, 4.484251963999999, 4.751968499, 4.67716535, 4.881889759, 5.240157475, 5.003937003, 5.472440939, 5.409448812999999, 5.370078735, 5.303149601, 5.555118105, 5.362204719, 5.5984251910000005, 6.0866141670000005, 5.858267711, 6.188976372000001, 6.153543301, 5.74803149, 5.771653537000001, 5.795275585, 5.980314955, 6.157480308999999, 6.2322834579999995, 6.334645663, 6.35826771, 6.291338576, 6.499999992999999, 6.618110229, 6.787401568, 7.066929127000001, 6.665354324, 7.011811016, 7.062992119, 7.287401567000001, 7.3818897560000005, 7.7598425120000005, 7.740157472000001, 7.74409448, 7.9173228270000005, 7.996062984, 8.350393692, 8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951]
# Test 1 - number of years sea levels fell
if find_total_fall_years(sea_levels) == 48:
  print("Test 1 passed")
else:
  print("Test 1 failed")

Test 1 passed

---
## Find the year that the sea was at the highest above 1880 levels
(the data represents annual rises since 1880, with the first value being the level for 1880)

In [5]:
def find_highest_year(levels):
  #  add your code below here to find the highest level above 1880 levels

  year_difference = levels.index(max(levels))
  #print(1880 + year_difference)
  
  return 1880 + year_difference

  

# Tests
sea_levels = [0.0, 0.22047244100000002, -0.440944881, -0.232283464, 0.590551181, 0.531496062, 0.43700787399999996, 0.216535433, 0.299212598, 0.362204724, 0.440944881, 0.374015748, 0.499999999, 0.6850393690000001, 0.303149606, 0.767716535, 0.46850393700000004, 0.6732283459999999, 1.043307086, 1.338582676, 1.125984251, 1.1102362190000001, 1.291338581, 1.6062992109999998, 1.2007874, 0.9842519679999999, 1.251968503, 1.196850392, 1.098425196, 1.27559055, 1.2716535420000001, 1.598425195, 1.476377951, 1.5472440930000002, 1.795275589, 2.10629921, 2.031496061, 1.854330707, 1.791338581, 1.854330707, 1.905511809, 1.988188974, 1.952755904, 1.999999998, 1.7125984230000002, 1.791338581, 2.0472440919999997, 2.003937006, 1.850393699, 1.905511809, 2.062992124, 2.0472440919999997, 2.271653541, 2.440944879, 2.228346454, 2.448818895, 2.295275588, 2.519685037, 2.6220472409999998, 2.826771651, 2.618110234, 3.098425194, 3.098425194, 3.098425194, 2.84645669, 2.95669291, 3.2519685010000003, 3.374015745, 3.562992122, 3.51181102, 3.598425193, 3.9724409410000003, 3.8700787360000004, 4.043307082, 3.929133854, 3.964566925, 3.763779524, 4.291338578, 4.346456688, 4.358267712, 4.503937003, 4.748031491, 4.543307082, 4.480314956, 4.1692913339999995, 4.6102362160000006, 4.397637791, 4.452755901000001, 4.484251963999999, 4.751968499, 4.67716535, 4.881889759, 5.240157475, 5.003937003, 5.472440939, 5.409448812999999, 5.370078735, 5.303149601, 5.555118105, 5.362204719, 5.5984251910000005, 6.0866141670000005, 5.858267711, 6.188976372000001, 6.153543301, 5.74803149, 5.771653537000001, 5.795275585, 5.980314955, 6.157480308999999, 6.2322834579999995, 6.334645663, 6.35826771, 6.291338576, 6.499999992999999, 6.618110229, 6.787401568, 7.066929127000001, 6.665354324, 7.011811016, 7.062992119, 7.287401567000001, 7.3818897560000005, 7.7598425120000005, 7.740157472000001, 7.74409448, 7.9173228270000005, 7.996062984, 8.350393692, 8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951]
# Test 1 - year of highest level above 1880 level
if find_highest_year(sea_levels) == 2012:
  print("Test 1 passed")
else:
  print("Test 1 failed")

Test 1 passed

---
## Calculate the average rise in level per year and predict the rise above 1880 levels for a given year

In [10]:
from datetime import datetime

def predict_level(levels, year):
  #  add your code below here to find the average rise per year and predict rise above 1880 for given year
  #  if the year is before the current year, return -1
  current_year = datetime.today().year

  if year < current_year:
    return -1

  else:
    temp_list = []
    for i in range(1,len(levels)):
      change = levels[i] - levels[i - 1]
      temp_list.append(change)
    mean_yearly_rise = sum(temp_list) / len(temp_list)
    #print(mean_yearly_rise)
    
    level_1880 = levels[0]
    years_from_1880 = year - 1880
    #print(years_from_1880, level_1880)

    prediction = level_1880 + years_from_1880 * mean_yearly_rise
    #print(years_from_1880 * mean_yearly_rise)

    return prediction




# Tests
sea_levels = [0.0, 0.22047244100000002, -0.440944881, -0.232283464, 0.590551181, 0.531496062, 0.43700787399999996, 0.216535433, 0.299212598, 0.362204724, 0.440944881, 0.374015748, 0.499999999, 0.6850393690000001, 0.303149606, 0.767716535, 0.46850393700000004, 0.6732283459999999, 1.043307086, 1.338582676, 1.125984251, 1.1102362190000001, 1.291338581, 1.6062992109999998, 1.2007874, 0.9842519679999999, 1.251968503, 1.196850392, 1.098425196, 1.27559055, 1.2716535420000001, 1.598425195, 1.476377951, 1.5472440930000002, 1.795275589, 2.10629921, 2.031496061, 1.854330707, 1.791338581, 1.854330707, 1.905511809, 1.988188974, 1.952755904, 1.999999998, 1.7125984230000002, 1.791338581, 2.0472440919999997, 2.003937006, 1.850393699, 1.905511809, 2.062992124, 2.0472440919999997, 2.271653541, 2.440944879, 2.228346454, 2.448818895, 2.295275588, 2.519685037, 2.6220472409999998, 2.826771651, 2.618110234, 3.098425194, 3.098425194, 3.098425194, 2.84645669, 2.95669291, 3.2519685010000003, 3.374015745, 3.562992122, 3.51181102, 3.598425193, 3.9724409410000003, 3.8700787360000004, 4.043307082, 3.929133854, 3.964566925, 3.763779524, 4.291338578, 4.346456688, 4.358267712, 4.503937003, 4.748031491, 4.543307082, 4.480314956, 4.1692913339999995, 4.6102362160000006, 4.397637791, 4.452755901000001, 4.484251963999999, 4.751968499, 4.67716535, 4.881889759, 5.240157475, 5.003937003, 5.472440939, 5.409448812999999, 5.370078735, 5.303149601, 5.555118105, 5.362204719, 5.5984251910000005, 6.0866141670000005, 5.858267711, 6.188976372000001, 6.153543301, 5.74803149, 5.771653537000001, 5.795275585, 5.980314955, 6.157480308999999, 6.2322834579999995, 6.334645663, 6.35826771, 6.291338576, 6.499999992999999, 6.618110229, 6.787401568, 7.066929127000001, 6.665354324, 7.011811016, 7.062992119, 7.287401567000001, 7.3818897560000005, 7.7598425120000005, 7.740157472000001, 7.74409448, 7.9173228270000005, 7.996062984, 8.350393692, 8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951]
# Test 1 - prediction for 2021
if predict_level(sea_levels, 2021) == 9.520484271360901:
  print("Test 1 passed")
else:
  print("Test 1 failed")
# Test 2 - prediction for 2050
if predict_level(sea_levels, 2050) == 11.478598057669172:
  print("Test 2 passed")
else:
  print("Test 2 failed")
# Test 3 - prediction for 2005
if predict_level(sea_levels,2005) == -1:
  print("Test 3 passed")
else:
  print("Test 3 failed")

Test 1 passed
Test 2 passed
Test 3 passed

---
## Return a set of data items in a dictionary

Create a dictionary called sea_level_data to return the identified set of data altogether:


```
sea_level_data = {
  'largest rise': 0,  
  'smallest rise': 0,  
  'number of falling years': 0,  
  'number of rising years': 0,  
  'highest year': 0,  
  'predicted level in 2030': 0  
}
```

In [18]:
def create_data_set(levels):
  #  add your code below here to create the data set as described above
  #  use functions you have already written where they exist and look for easy ways to get other data

  count_falling = 0
  
  
  temp_list = []
  for i in range(1,len(levels)):
    change = levels[i] - levels[i-1]
    
    if change < 0:
      count_falling +=1

    temp_list.append(change)

  count_rising = len(levels) - count_falling
  largest_rise = max(temp_list)
  smallest_rise = min(temp_list)
  highest_year = find_highest_year(levels)
  predicted = predict_level(levels,2030)

  sea_level_data = {
  'largest rise': largest_rise,  
  'smallest rise': smallest_rise,  
  'number of falling years': count_falling,  
  'number of rising years': count_rising,  
  'highest year': highest_year,  
  'predicted level in 2030': predicted  
}

  print(sea_level_data)
  return sea_level_data




# Tests:
sea_levels = [0.0, 0.22047244100000002, -0.440944881, -0.232283464, 0.590551181, 0.531496062, 0.43700787399999996, 0.216535433, 0.299212598, 0.362204724, 0.440944881, 0.374015748, 0.499999999, 0.6850393690000001, 0.303149606, 0.767716535, 0.46850393700000004, 0.6732283459999999, 1.043307086, 1.338582676, 1.125984251, 1.1102362190000001, 1.291338581, 1.6062992109999998, 1.2007874, 0.9842519679999999, 1.251968503, 1.196850392, 1.098425196, 1.27559055, 1.2716535420000001, 1.598425195, 1.476377951, 1.5472440930000002, 1.795275589, 2.10629921, 2.031496061, 1.854330707, 1.791338581, 1.854330707, 1.905511809, 1.988188974, 1.952755904, 1.999999998, 1.7125984230000002, 1.791338581, 2.0472440919999997, 2.003937006, 1.850393699, 1.905511809, 2.062992124, 2.0472440919999997, 2.271653541, 2.440944879, 2.228346454, 2.448818895, 2.295275588, 2.519685037, 2.6220472409999998, 2.826771651, 2.618110234, 3.098425194, 3.098425194, 3.098425194, 2.84645669, 2.95669291, 3.2519685010000003, 3.374015745, 3.562992122, 3.51181102, 3.598425193, 3.9724409410000003, 3.8700787360000004, 4.043307082, 3.929133854, 3.964566925, 3.763779524, 4.291338578, 4.346456688, 4.358267712, 4.503937003, 4.748031491, 4.543307082, 4.480314956, 4.1692913339999995, 4.6102362160000006, 4.397637791, 4.452755901000001, 4.484251963999999, 4.751968499, 4.67716535, 4.881889759, 5.240157475, 5.003937003, 5.472440939, 5.409448812999999, 5.370078735, 5.303149601, 5.555118105, 5.362204719, 5.5984251910000005, 6.0866141670000005, 5.858267711, 6.188976372000001, 6.153543301, 5.74803149, 5.771653537000001, 5.795275585, 5.980314955, 6.157480308999999, 6.2322834579999995, 6.334645663, 6.35826771, 6.291338576, 6.499999992999999, 6.618110229, 6.787401568, 7.066929127000001, 6.665354324, 7.011811016, 7.062992119, 7.287401567000001, 7.3818897560000005, 7.7598425120000005, 7.740157472000001, 7.74409448, 7.9173228270000005, 7.996062984, 8.350393692, 8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951]
# Test 1 - data set
if create_data_set(sea_levels) == {'largest rise': 0.822834645, 'smallest rise': -0.661417322, 'number of falling years': 48, 
                                   'number of rising years': 86,'highest year': 2012, 'predicted level in 2030': 10.128174756766917}:
  print("Test 1 passed")
else:
  print("Test 1 failed")

{'largest rise': 0.822834645, 'smallest rise': -0.661417322, 'number of falling years': 48, 'number of rising years': 86, 'highest year': 2012, 'predicted level in 2030': 10.128174756766917}
Test 1 passed